.mainbg2 {
    background-image: url(/Git/assets/images/mainbg3.svg);
    background-size: cover;
    background-position: center center;
}

.introimg {
    background-image: url(/Git/assets/images/imgpilates-pessoa.jpg);
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: auto;
}


.mainbg {
    background-color: var(--gray-color);
}


.focus {
    background-color: rgba(255, 255, 255, 0.486);
}


.maincontent {
    max-width: 120rem;
    margin: 0 auto;
    padding: 7rem var(--gap);
}

.section {
    min-height: 100vh;
}

.gridcontent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.gridtext {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding-top: 10rem;
    width: 100%;
}

.introcontent {
    position: relative;
    top: -6rem;
    display: block;
    min-height: 100vh;
}

.introtext {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding-top: 10rem;
    padding-right: 50%;
}

.secondcontent {
    max-width: 80rem;
    text-align: justify;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.secondcontent h2 {
    text-align: center;
}

.gridoneontent {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.gridmainhead {
    margin-bottom: 0.5rem;
}

.gridmaincontent {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: gridcounter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 6rem;
    padding-bottom: 1rem;
}

.grid h3::before {
    counter-increment: gridcounter;
    content: counter(gridcounter);
    position: absolute;
    font-size: 7rem;
    font-style: italic;
    top: -4rem;
    left: -0.5rem;
    transform: rotate(5deg);
}

.galleryimg {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.galleryimg img {
    transition: all 300ms ease-in-out;
}

.galleryimg img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contactimg img {
    background-size: contain;
    background-position: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.gridcontact,
.contactimg {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top: 10rem;
    width: 100%;
}

.contactform {
    grid-column: span 2;
}

.contactform .formgrid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.formgroup {
    flex: 1 1 32rem;
}

.formgroup label {
    display: block;
    margin-bottom: 0.5rem;
}

.formgroup input,
.formgroup textarea {
    border: none;
    background: white;
    padding: 1rem 1rem;
    width: 100%;
    font-size: 2rem;
}

body .fullwidth {
    width: 100%;
    flex: 1 1 100%;
}

.formgroup button {
    border: 0.5rem solid var(--gray-color);
    background: none;
    color: var(--primary-color);
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.formgroup button:hover {
    border: 0.5rem solid;
    background: var(--gray-color);
    color: var(--primary-color);
}

::placeholder {
    color: var(--gray-color);
}

.formgrid legend {
    font-style: italic;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 2rem;
}

.footer {
    text-align: center;
    align-items: center;
    margin: 0;
}

.footer a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.footer p {
    padding: 3rem;
    margin: 0;
}


