* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-conteiner {
    background-color: yellow;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 64rem;

}

.flex-item {
    font-size: 33.33%m;
    background-color: red;
    width: 100%;
}

p {
    margin: 0 0 2.4rem;
}

.two-collum {
    display: flex;
}

.col {
    font-size: 2rem;
    background-color: blue;
    margin: 1.5rem;
    padding: 3rem;
    display: flex;
    flex-flow: column wrap;
}

/* .flex-item:nth-child(3) {
    align-self: center;
} */


/* 
MAIS SOBRE FLEX BOX:

https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 

*/